* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    font-style: oblique;
}

body {
    height: 100vh;
    background: #48209A;
}

.memoryGame {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:hover {
    cursor: pointer;
}

.card:active {
    transform: scale(0.9);
    transition: transform .2s;
}

/* flips along the Y axis, or left - right screen */
.card.flip {
    transform: rotateY(180deg);
}

/* both images are overlayed on each other, with these next two selectors it sets their size, positions and makes them act like a card */
.front,
.back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: grey;
    /* each image as a backface, so this removes that from when it is flipped */
    backface-visibility: hidden;
}

/* puts the "face" of the card backwards, essentially making it work like if it was a true card */
.front {
    transform: rotateY(180deg);
}

footer {
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
}

a {
    color: rgb(151, 2, 2);
    text-decoration: underline;
}

#modalOuter {
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#modalInner {
    background-color: #000;
    color: #fff;
    height: 45vh;
    width: 45vw;
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    border: none;
    background-color: #48209A;
    border-radius: 30px;
    color:#fff;
    font-size: 20px;
    margin: 20px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
}

#timer {
    display: none;
    position: fixed;
    top: 200px;
    right: 100px;
    padding: 25px;
    border-radius: 10px;
    font-size: large;
    background-color: #000;
    color: #fff;
}
